In [1]:
import pandas as pd
import os.path

In [2]:
trades_today = pd.read_csv('trades_today.csv')
budget_df = pd.read_csv('budget.csv')
if os.path.exists('all_trades.csv'):
    all_trades = pd.read_csv('all_trades.csv')
else:
    all_trades = pd.DataFrame(columns=trades_today.columns)

In [16]:
for index, row in trades_today.iterrows():
    valid_trades = all_trades[(all_trades['instrument']==row['instrument']) & (all_trades['condition']==row['condition']) & (all_trades['status']=='complete')]
    last_valid_trade = valid_trades[(valid_trades['trade_number']==valid_trades['trade_number'].max())]

In [17]:
last_valid_trade

,instrument,high_prev,low_prev,open_today,condition,transaction_type,trade_number,level,budget,return,...,squareoff,stoploss,order_id,timestamp,order_type,status,profit,pl_tag,flag,adhoora_khwab
89,NSE:PETRONET,246.95,NaN,248.25,high,buy,1,1,400.0,0.02,...,5.0,5.0,190827000050993,2019-08-27 09:15:02.097718,SL,complete,10.0,1.0,1,-2.0

In [12]:
all_trades[(all_trades['instrument']==row['instrument']) & (all_trades['condition']==row['condition']) & (all_trades['status']=='complete') & (all_trades['trade_number']==all_trades['trade_number'].max())]

Empty DataFrame
Columns: [instrument, high_prev, low_prev, open_today, condition, transaction_type, trade_number, level, budget, return, daily_khwab, actual_khwab, quantity, budget_required, price, trigger_price, squareoff, stoploss, order_id, timestamp, order_type, status, profit, pl_tag, flag, adhoora_khwab]
Index: []

[0 rows x 26 columns]

In [13]:
all_trades['trade_number'].max()

3